{% extends 'base.html.twig' %}

{% block body %}


    {% if articulos %}
        <table border="3" >
            {% for articulo in articulos %}
                <tr >
                    <td>{{ articulo.nombre }}</td>
                    <td>{{ articulo.descripcion }}</td>
                    <td>{{ articulo.tipo.plato }}</td>
                    <td><a href="{{ path('modificararticulo',{'articulo': articulo.id}) }}" class="btn btn-primary btn-sm">Modificar Articulo</a></td>
                    <td><a href="{{ path('eliminararticulo',{'articulo': articulo.id}) }}" class="btn btn-danger btn-sm">Eliminar Articulo</a></td>
                </tr>
            {% endfor %}
        </table>
        <a href="{{ path('registrararticulo',{'menu': menu.id}) }}" class="btn btn-default btn-sm"><i
                    class="fa fa-fast-forward"></i> Añadir Articulo</a>


    {% else %}
        <h2>No hay articulo</h2>
        <a href="{{ path('registrararticulo',{'menu': menu.id}) }}" class="btn btn-default btn-sm"><i
                    class="fa fa-fast-forward"></i> Añadir Articulo</a>
    {% endif %}


{% endblock %}

