{% extends 'base.html.twig' %}

{% block body %}
    {% if local %}
{{ local[0].nombre }}<br>

    {{ local[0].telefono }}<br>
    {{ local[0].cp }}<br>
    {{ local[0].localidad }}<br>
    {{ local[0].provincia }}<br>
        <a href="{{ path('modificarlocal',{'local': local[0].id}) }}" class="btn btn-default btn-sm"> Modificar  </a>
    {% else %}
        <h2>No hay Local</h2>
        <a href="{{ path('registrolocal',{'usuario': app.user.id}) }}" class="btn btn-default btn-sm"><i class="fa fa-fast-forward"></i> Proceder con el registro</a>
    {% endif %}


{% endblock %}

