{% extends 'base_usuario.html.twig' %}

{% block body %}
    {% if local %}
        <div class="well well-lg"><h1 >{{ local[0].nombre }}</h1></div>

        <i class="fa fa-phone"></i>:{{ local[0].telefono }}<br>
        <i class="fa fa-home"></i>{{ local[0].cp }}<br>
        <i class="fa fa-home"></i>{{ local[0].localidad }}<br>
        <i class="fa fa-home"></i>{{ local[0].provincia }}<br>
        {% if local[0].direccion == null %}
            <i class="fa fa-home"></i>Aún no existe dirección<br>
            {% else %}
                <i class="fa fa-home"></i>{{ local[0].direccion }}<br>
        {% endif %}

        {% if local[0].numero == null %}
            <i class="fa fa-home"></i>Aún no existe número<br>
        {% else %}
            <i class="fa fa-home"></i>{{ local[0].numero }}<br>
        {% endif %}

        {%   if local[0].activo == 0 %}
            <a href="{{ path('tooglelocal',{'local': local[0].id}) }}" class="btn btn-success"><i class="fa fa-plus-square"></i>Activar</a><br>
            (Activalo si quieres que tu local sea públicado en el mapa)<br>
            {% else %}
                <a href="{{ path('tooglelocal',{'local': local[0].id}) }}" class="btn btn-danger"><i class="fa fa-plus-square"></i>Desactivar</a><br>
                (Desactivalo si quieres que tu local no sea públicado en el mapa)<br>
         {%  endif %}

        <a href="{{ path('modificarlocal',{'local': local[0].id}) }}" class="btn btn-default btn-sm"> Modificar  </a>
    {% else %}
        <h2>No hay Local</h2>
        <a href="{{ path('registrolocal',{'usuario': app.user.id}) }}" class="btn btn-default btn-sm"><i class="fa fa-fast-forward"></i> Proceder con el registro</a>
    {% endif %}


{% endblock %}

