{% extends 'base_usuario.html.twig' %}

{% block body %}


    {% if local %}
        <table>
            {% for menu in menus %}
                <tr>
                    <td>{{ menu.nombre }}</td>
                    <td>{{ menu.precio }}</td>
                    <td>{{ menu.descripcion }}</td>
                    <td><a href="{{ path('modificarmenu',{'menu': menu.id}) }}" class="btn btn-default btn-sm"></i>Editar Menú</a></td>
                    <td><a href="{{ path('mostrararticulo',{'menu': menu.id}) }}" class="btn btn-default btn-sm"></i>Mostrar Articulos</a></td>
                    <td><a href="{{ path('eliminarmenu',{'menu': menu.id}) }}" class="btn btn-danger btn-sm"></i>Eliminar Menú</a></td>
                </tr>
            {% endfor %}
        </table>
        <a href="{{ path('registromenu',{'local': local[0].id}) }}" class="btn btn-default btn-sm"><i
                    class="fa fa-fast-forward"></i> Añadir Menú</a>


    {% else %}
        <h2>No hay Local</h2>
        <a href="{{ path('registrolocal',{'usuario': app.user.id}) }}" class="btn btn-default btn-sm"><i
                    class="fa fa-fast-forward"></i> Proceder con el registro</a>
    {% endif %}


{% endblock %}

