{% extends 'base_usuario.html.twig' %}

{% block body %}
    <tbody>

        <tr>
            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                <h3 class="well-lg">Bienvenido, {{ app.user.username }}</h3>

            {% endif %}
        </tr>

    </tbody>
    </table>
    <div class="row">
        <div class="col-lg-2 col-sm-2"></div>
        <div class="col-lg-2 col-sm-2"><a href="{{ path('local',{'propietario': app.user.id}) }}"><img alt="" width="300px" src="{{ asset('images/usuarios/user_local.png') }}" /></a></div>
        <div class="col-lg-2 col-sm-2"></div>
        <div class="col-lg-2 col-sm-2"><a href="{{ path('menus',{'propietario': app.user.id}) }}"><img alt=""  src="{{ asset('images/usuarios/user_menu.png') }}" /></a></div>
    </div>
    <br>
        <div class="row">
            <div class="col-lg-2 col-sm-2"></div>
            <div class="col-lg-2 col-sm-2"><a href="{{ path('registromenu',{'usuario': app.user.id }) }}" ><img alt=""  src="{{ asset('images/usuarios/user_add.png') }}" /></a></div>
            <div class="col-lg-2 col-sm-2"></div>
            <div class="col-lg-2 col-sm-2"><a href="{{ path('vercomentarios',{'usuario': app.user.id }) }}" ><img alt=""  src="{{ asset('images/usuarios/user_comentarios.png') }}" /></a></div>
        </div>

{% endblock %}
