{% extends 'base_usuario.html.twig' %}

{% block body %}
    <tbody>

        <tr>
            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
            <td>Conectado como {{ app.user.username }} {{ app.user.id }}</td>
            <a href="{{ path('fos_user_profile_show') }}">
                <i class="fa fa-envelope-o"></i> Mi Cuenta </a>


                <a href="{{ path('fos_user_change_password') }}">
                    Cambiar Contraseña </a>


                <a title="Cerrar sesión" href="{{ path('fos_user_security_logout') }}">
                     {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                </a>

                <a href="{{ path('local',{'propietario': app.user.id}) }}">
                    Mi Local</a>
                <a href="{{ path('menus',{'propietario': app.user.id}) }}">
                    Mis Menús</a>

            {% endif %}
        </tr>

    </tbody>
    </table>


{% endblock %}
