<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8" />
    <title>{% block title %}{{  local[0].nombre}}{% endblock %}</title>
<link href="{{ asset('css/estilos.css') }}" rel="stylesheet" type="text/css" />
<link href="{{ asset('font-awesome/css/font-awesome.min.css') }}" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="{{ asset('bootstrap/css/bootstrap.css') }}" />
</head>
<body>
<div class="container">

        {% if local %}
        <div class="well well-lg"><h1 ><i class="fa fa-home"></i> {{ local[0].nombre }}</h1></div>
    <div class="row">
        <div class="col-md-6">
            <h3>Datos de contacto</h3>
        <i class="fa fa-phone"></i> {{ local[0].telefono }}<br>
        Código Postal: {{ local[0].cp }}<br>
        Localidad: {{ local[0].localidad }}<br>
        Provincia: {{ local[0].provincia }}<br>
        {% if local[0].direccion == null %}
            Aún no existe dirección<br>
        {% else %}
            Dirección: {{ local[0].direccion }}<br>
        {% endif %}

                {% if local[0].numero == null %}
                    Aún no existe número<br>
                {% else %}
                    Número: {{ local[0].numero }}<br>
                {% endif %}


            {% if ImagenLocal  == '' %}
                No existe imagen del local
            {% else %}
                <img class="thumbnail" src=" {{ ImagenLocal }}" style = "width: 200px;" />
            {% endif %}
        <h3>Localización</h3>
        <div id="mapa_usuario"></div>

    </div>


        <div class="col-md-6">
            <h3><i class="fa fa-cutlery"></i> Menús</h3>
            <table class="table ">
            {% for menu in menus %}
                <tr>
                    <td>{{ menu.nombre }}</td>
                    <td bgcolor="#f0ffff">{{ menu.precio }} € Iva Incluido</td>


                </tr>
                <tr><td align="center" colspan="2">{{ menu.descripcion}}</td></tr>
                <tr><td  colspan="2"><a href="{{ path('vercarta',{'menu': menu.id}) }}">Ver carta</a></td></tr>
                <tr><td  colspan="2"><hr></td></tr>
            {% else %}
                Aún no existen menús
            {% endfor %}
            </table>


            {#{% for conjunto in articulos %}
                {% for producto in conjunto %}
                    <br>{{ producto.nombre }}
                    <br>{{ producto.tipo }}
                {% endfor %}
            {% endfor %}#}

        </div>



{% endif %}
        <div class="row">
            <div class="col-md-12">
                <hr>
        <h3><i class="fa fa-comments-o"></i> Comentarios</h3>
<table>
        {% for comentario in comentarios %}
            <tr>
                <td>{{ comentario.texto }}</td>

            </tr>
        {% else %}
            Aún no existen comentarios
        {% endfor %}

</table>
                <h3>Envia tu opinión</h3>
                {{ form(form) }}
            </div>
        </div>
</div>
    </div>
</body>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDOPiuIXZzv__WGIHgdZHjUO4gq_sf_LUQ"
        type="text/javascript"></script>

<script type="text/javascript">
    var mapProp = {
        center:new google.maps.LatLng({{ local[0].latitud }},{{ local[0].longitud }}),
        zoom:16,
        mapTypeId:google.maps.MapTypeId.ROADMAP
    };
    var map=new google.maps.Map(document.getElementById("mapa_usuario"),mapProp);

    var marker = new google.maps.Marker({
        position: {lat: {{ local[0].latitud }}, lng: {{ local[0].longitud }}},
        map: map,


    });

</script>
